.burger {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 65px;
  height: 40px;
  padding: 0.5rem 1rem;

  border-radius: 30px;
  border: 1px solid transparent; //var(--primary-color);

  color: var(--primary-color);
  background-color: var(--main-bg-color);

  z-index: 99;

  &__line {
    width: 30px;
    height: 2px;
    transition: width 0.3s ease-in;
    background-color: var(--primary-color);

    @include m-b-tablet-lg-down {
      &--middle {
        display: none;
      }
    }
  }
}
