
.developer {
  position: relative;
  padding: 30px 0;
  background-color: var(--dark-color);

  &::before,
  &::after {
    position: absolute;
    top: 0;
    width: 45vw;
    height: 2px;

    content: '';
    background-color: var(--white-color);
  }
  &::before {
    left: 0;
  }

  &::after {
    right: 0
  }

  a {
    @extend .flex-centered-content;
    width: 100px;
    height: 100px;
    margin: 0 auto;
  }
}
