
.developer {
  position: relative;
  padding: 10px 0;
  border-top: 1px solid var(--white-color);
  background-color: var(--dev-color);

  /*&::before,
  &::after {
    position: absolute;
    top: 0;
    width: 45vw;
    height: 2px;

    content: '';
    background-color: var(--white-color);
  }
  &::before {
    left: 0;
  }

  &::after {
    right: 0
  }*/

  a {
    @extend .flex-centered-content;
    width: 100px;
    height: 50px;
    margin: 0 auto;
  }
}
