.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 99;
  padding-bottom: 20px;
  background-color: var(--main-bg-color);

  #logo {
    width: 150px;
    height: 100px;
  }

  &__navbar {
    display: flex;
    align-items: center;
    padding-top: 40px;
    overflow-x: hidden;

    .nav {
      flex-grow: 1;
    }

    @include m-b-tablet-down {
      padding-top: 20px;
      justify-content: center;
    }
  }
}
