.nav {
  position: relative;

  &__underline {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    content: '';
    background-color: var(--primary-color);
    //for gsap
    transform: translateX(100%);
  }

  &__list {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: -38px;
    z-index: -1;

    &.opened {
      //display: flex;
      z-index: 1;
    }
  }

  &__item {
    flex-grow: 1;

    // for gsap
    opacity: 0;
    transform: translateY(-250px);
  }

  &__link {
    @extend .flex-centered-content;
    padding: 8px;
    font-size: 18px;
    height: 40px;

    color: var(--primary-color);
    transition: color var(--transition), transform var(--transition);

    &:hover,
    &:focus {
      color: var(--dark-color);
      transform: translateY(-5px);
    }
  }
}
