.inner-header {
  position: sticky;
  top: 0;
  left: 0;

  z-index: 101;
  background-color: var(--main-bg-color);

  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

  &__logo {
    margin-left: auto;
  }

  &__navbar {
    display: flex;
    align-items: center;

    .back-btn {
      display: flex;
      align-items: center;

      svg {
        margin-right: 10px;
        fill: var(--dark-color);
      }

      span {
        font-size: 20px;
        color: var(--dark-color);
      }
    }
  }
}
