/* stylelint-disable color-function-notation */
/* stylelint-disable alpha-value-notation */

:root {
    // base
    --font-family: "Roboto", sans-serif;
    --content-width: 1410px;
    --content-fluid-width: 1790px;
    --container-offset: 15px;
    --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
    --container-fluid-width: calc(var(--content-fluid-width) + (var(--container-offset) * 2));

    // colors
    --white-color: #EDF0F5;

    --primary-color: #488a99;
    --warning-color: #dbae58;
    --light-color: #b4b4b4;
    --dark-color: #4d585B;
    --accent-color: #d52027;


    --main-bg-color: var(--white-color);

    // scrollbar
    --main-scrollbar-width: 6px;
    --main-scrollbar-color: var(--light-color);
    --main-scrollbar-thumb-color: var(--accent-color);
  }
