a(href="#" class="js-menu-opener").burger
  div.burger__line.burger__line--top
  div.burger__line.burger__line--middle-left
  div.burger__line.burger__line--middle-right
  div.burger__line.burger__line--bottom
