a(href="https://www.littleweb.ru" rel="noopener noreferrer nofollow" aria-label="Сайт разработан - LittleWeb.ru").developer-link
  img(src="./assets/img/delevoper-icon.svg" width="160" height="34" alt="LittleWeb.ru")
