-
  const navList = [
    { link: 'portfolio', title: 'Портфолио' }, { link: 'features', title: 'Услуги' },
    { link: 'outdoor ', title: 'Наружная реклама' }, { link: 'feedback', title: 'Обратная связь' },
    { link: 'map', title: 'Как нас найти' },
  ]

nav.nav
  .nav__underline(aria-hidden="true")
  a(href="#" aria-label="Переход на главную страницу").nav__logo

  ul.nav__list
    each item in navList
      li.nav__item
        a(href='#'+item.link data-scroll-to=item.link).anchor-link.nav__link= item.title
