extends layouts/main-layout.pug

block variables
  -
    const title = ""
    const desc = ""
    const keywords = ""

block content
  .overlay
  include ./sections/index-page/hero
  //include ./sections/index-page/features

block modals
  //include ./modals/...
