extends layouts/main-layout.pug

block variables
  -
    const title = ""
    const desc = ""
    const keywords = ""

block content
  .overlay
  include ./sections/index-page/hero
  include ./sections/index-page/portfolio
  include ./sections/index-page/features
  include ./sections/index-page/outdoor
  include ./sections/index-page/feedback
  include ./sections/index-page/map

block modals
  //include ./modals/...
