extends layouts/inner-layout.pug

block variables
  -
    const title = ""
    const desc = ""
    const keywords = ""

block content
  .overlay
  .portfolio-page
    include ./sections/portfolio-page/gallery

