extends layouts/inner-layout.pug

block variables
  -
    const title = ""
    const desc = ""
    const keywords = ""

block content
  .portfolio-page
    include ./sections/portfolio-page/gallery

block modals
  //include ./modals/_main-modal
  //include ./modals/_error-modal
  //include ./modals/_thanks-modal
