extends layouts/inner-layout.pug

block variables
  -
    const title = "ООО ПРОСПЕКТ"
    const desc = "Галерея работ"
    const keywords = ""

block content
  .overlay
  .portfolio-page
    include ./sections/portfolio-page/gallery

