section.hero#hero
  .container.hero__container
    .hero__preview(aria-hidden="true") <!--1620 951-->
      include ../../components/_animated-logo

    a(href="#" data-scroll-to="portfolio" class="scroll-btn anchor-link")
      svg(width="50" height="50")
        use(xlink:href="./assets/svg-sprite.svg#icon-arrows-hero")
