section.hero#hero
  .container.hero__container
    .hero__preview <!--1620 951-->
      h1.visually-hidden ООО "Проспект". Производство наружной рекламы, Санкт-Петербург.
      include ../../components/_animated-logo

    a(href="#" data-scroll-to="portfolio" class="scroll-btn anchor-link")
      svg(width="50" height="50")
        use(xlink:href="./assets/svg-sprite.svg#icon-arrows-hero")
