section.hero#hero
  .container.hero__container
    .hero__preview(aria-hidden="true") <!--1620 951-->
      include ../../components/_animated-logo

    a(href="#" data-scroll-to="first-section" class="anchor-link") scroll
