section
  <svg id="svg" width="362" height="275" viewBox="0 0 362 275" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path id="elephant-eye" d="M99.5996 110.3L103.1 106.8" stroke="#EC9A29" stroke-width="21" stroke-miterlimit="10" stroke-linecap="square"/>
    <path id="elephant-body" d="M17.9004 185.2C17.9004 185.2 55.7004 226.6 121.2 197.4C177.7 172.3 177.6 110.6 177.6 110.6L142.3 99.1C142.3 99.1 96.8004 167.2 126.8 227.7C136.7 247.8 153.7 260.1 176.7 260.6C211.5 261.4 224.9 220.5 224.9 220.5H229C229 220.5 240.1 263 277.8 263C351 263 355.2 167.4 345.6 127.5C337 91.5 320.4 60.5 291.7 41C214.5 -11.7 139.5 20.8 115.9 38.6C81.0004 64.9 59.2004 98.1 60.1004 146.4" stroke="#EC9A29" stroke-width="24" stroke-miterlimit="10" stroke-linecap="square"/>
  </svg>

  .littleweb
    //L
    <svg width="91" height="156" viewBox="0 0 91 156" fill="#EC9A29" xmlns="http://www.w3.org/2000/svg">
      <path d="M0.599976 0.200195H27.7V87.4002C27.7 111.6 49.7 128.2 77 128.2H90.1V155.3H75.2C33.9 155.3 0.599976 125.6 0.599976 88.7002V0.200195Z"/>
    </svg>

    //i
    <svg width="34" height="164" viewBox="0 0 34 164"  fill="#EC9A29" xmlns="http://www.w3.org/2000/svg">
      <path d="M30.9001 52.4004V163.4H3.80005V52.4004H30.9001Z"/>
      <path id="dot" d="M15.3 18.6001L18.9001 15.1001" stroke="#EC9A29" stroke-width="21" stroke-miterlimit="10" stroke-linecap="square"/>
    </svg>

    //t
    <svg width="57" height="135" viewBox="0 0 57 135" fill="#EC9A29" xmlns="http://www.w3.org/2000/svg">
      <path d="M0.800049 0.899902H27.9001V36.5999H43.9001V63.1999H27.9001V86.0999C27.9001 97.8999 37.7001 107.6 49.4001 107.6H56.1V134.2H49.4001C22.5001 134.2 0.800049 112 0.800049 85.3999V0.899902Z"/>
    </svg>

    //t
    <svg width="57" height="135" viewBox="0 0 57 135" fill="#EC9A29" xmlns="http://www.w3.org/2000/svg">
      <path d="M0.800049 0.899902H27.9001V36.5999H43.9001V63.1999H27.9001V86.0999C27.9001 97.8999 37.7001 107.6 49.4001 107.6H56.1V134.2H49.4001C22.5001 134.2 0.800049 112 0.800049 85.3999V0.899902Z"/>
    </svg>

    //l
    <svg width="28" height="156" viewBox="0 0 28 156" fill="#EC9A29" xmlns="http://www.w3.org/2000/svg">
      <path d="M0.599976 155.4V0H27.9V155.4H0.599976Z"/>
    </svg>

    //e
    <svg width="120" height="118" viewBox="0 0 120 118" fill="#EC9A29" xmlns="http://www.w3.org/2000/svg">
      <path d="M60.1 0.399902C64.8 0.399902 69 0.79989 73 1.69989L75.2 2.09985C75.9 2.29985 76.8 2.49987 77.4 2.79987C102 9.89987 120 32.2999 120 58.9999C120 60.5999 119.8 62.0999 119.8 63.6999C119.4 68.0999 118.5 72.3999 117.1 76.3999C107.1 71.4999 96 69.0999 84.2 69.0999C72.4 69.0999 61.3 71.4999 50.9 76.1999V50.1999C63.3 46.5999 74.7 45.4999 84 45.4999C86 45.4999 87.8 45.6999 89.8 45.6999C85.6 36.1999 74.9 27.0999 60.1 27.0999C42.1 27.0999 27.5 41.4999 27.5 59.0999C27.5 76.8999 42.6 90.7999 60.1 90.7999C69.2 90.7999 77 87.6999 83.4 81.2999C88.1 86.3999 96.1 95.0999 102 101.5C91.6 111.3 76.9 117.5 60 117.5C26.3 117.5 0.300049 90.8999 0.300049 59.0999C0.300049 26.2999 27 0.399902 60.1 0.399902Z"/>
    </svg>

    //W
    <svg width="230" height="156" viewBox="0 0 230 156" fill="#EC9A29" xmlns="http://www.w3.org/2000/svg">
      <path d="M0.0999756 0H26.1V91.4C26.1 111.6 42.5 129.3 64 129.3C85.1 129.3 101.9 112.5 101.9 91.4V0H127.9V91.4C127.9 111.6 144.1 129.3 165.6 129.3C186.7 129.3 203.5 112.5 203.5 91.4V0H229.5V91.4C229.5 127.3 200.5 155.4 165.6 155.4C144.9 155.4 126.6 145.8 114.9 130.2C103 145.9 84.7 155.4 64 155.4C28.6 155.4 0.0999756 126.9 0.0999756 91.4V0Z"/>
    </svg>

    //e
    <svg width="120" height="118" viewBox="0 0 120 118" fill="#EC9A29" xmlns="http://www.w3.org/2000/svg">
      <path d="M60.1 0.399902C64.8 0.399902 69 0.79989 73 1.69989L75.2 2.09985C75.9 2.29985 76.8 2.49987 77.4 2.79987C102 9.89987 120 32.2999 120 58.9999C120 60.5999 119.8 62.0999 119.8 63.6999C119.4 68.0999 118.5 72.3999 117.1 76.3999C107.1 71.4999 96 69.0999 84.2 69.0999C72.4 69.0999 61.3 71.4999 50.9 76.1999V50.1999C63.3 46.5999 74.7 45.4999 84 45.4999C86 45.4999 87.8 45.6999 89.8 45.6999C85.6 36.1999 74.9 27.0999 60.1 27.0999C42.1 27.0999 27.5 41.4999 27.5 59.0999C27.5 76.8999 42.6 90.7999 60.1 90.7999C69.2 90.7999 77 87.6999 83.4 81.2999C88.1 86.3999 96.1 95.0999 102 101.5C91.6 111.3 76.9 117.5 60 117.5C26.3 117.5 0.300049 90.8999 0.300049 59.0999C0.300049 26.2999 27 0.399902 60.1 0.399902Z"/>
    </svg>

    //b
    <svg width="120" height="159" viewBox="0 0 120 159" fill="#EC9A29" xmlns="http://www.w3.org/2000/svg">
      <path d="M27.4999 0.299805V99.7998C27.4999 120.2 41.4999 134.2 60.0999 134.2C78.9999 134.2 92.6998 116.9 92.6998 99.7998C92.6998 82.8998 79.5999 65.3998 60.0999 65.3998C55.3999 65.3998 50.9999 66.2998 46.9999 67.7998C45.1999 63.5998 38.9999 48.2998 37.8999 45.3998C44.7999 42.6998 52.0999 41.3998 60.0999 41.3998C94.4999 41.3998 120 68.2998 120 99.7998C120 132.7 92.6999 158.4 60.0999 158.4C26.9999 158.4 0.399902 132.4 0.399902 99.7998V0.299805H27.4999V0.299805Z"/>
    </svg>



