-
  const accordion = [
    {
      title: 'Внешняя подсветка',

      body: {
        text: [
          'Качественное размещение наружной рекламы подразумевает гибкость, ясное понимание того, что нужно заказчику. Безусловно, именно желание человека, дающего рекламу, играет для нас первостепенную роль.',
          'Советы с нашей стороны носят рекомендательный характер, но они построены на основе тех знаний, что мы имеем в области производства наружной рекламы.'
        ],
        img: 'outdoor_1'
      }
    },
    {
      title: 'Внутренняя подсветка',

      body: {
        text: [
          'Качественное размещение наружной рекламы подразумевает гибкость, ясное понимание того, что нужно заказчику. Безусловно, именно желание человека, дающего рекламу, играет для нас первостепенную роль.',
          'Советы с нашей стороны носят рекомендательный характер, но они построены на основе тех знаний, что мы имеем в области производства наружной рекламы.'
        ],
        img: 'outdoor_1'
      }
    },
    {
      title: 'Контражур',

      body: {
        text: [
          'Качественное размещение наружной рекламы подразумевает гибкость, ясное понимание того, что нужно заказчику. Безусловно, именно желание человека, дающего рекламу, играет для нас первостепенную роль.',
          'Советы с нашей стороны носят рекомендательный характер, но они построены на основе тех знаний, что мы имеем в области производства наружной рекламы.'
        ],
        img: 'outdoor_1'
      }
    },
    {
      title: 'Контурный короб',

      body: {
        text: [
          'Качественное размещение наружной рекламы подразумевает гибкость, ясное понимание того, что нужно заказчику. Безусловно, именно желание человека, дающего рекламу, играет для нас первостепенную роль.',
          'Советы с нашей стороны носят рекомендательный характер, но они построены на основе тех знаний, что мы имеем в области производства наружной рекламы.'
        ],
        img: 'outdoor_1'
      }
    },
    {
      title: 'Прямоугольный короб',

      body: {
        text: [
          'Качественное размещение наружной рекламы подразумевает гибкость, ясное понимание того, что нужно заказчику. Безусловно, именно желание человека, дающего рекламу, играет для нас первостепенную роль.',
          'Советы с нашей стороны носят рекомендательный характер, но они построены на основе тех знаний, что мы имеем в области производства наружной рекламы.'
        ],
        img: 'outdoor_1'
      }
    },
    {
      class: 'active',
      title: 'Металлические буквы',

      body: {
        text: [
          'Качественное размещение наружной рекламы подразумевает гибкость, ясное понимание того, что нужно заказчику. Безусловно, именно желание человека, дающего рекламу, играет для нас первостепенную роль.',
          'Советы с нашей стороны носят рекомендательный характер, но они построены на основе тех знаний, что мы имеем в области производства наружной рекламы.'
        ],
        img: 'outdoor_1'
      }
    }
  ]

section.section.outdoor#outdoor
  .container.outdoor__container
    h2.main-title Наружная реклама

    .outdoor__accordion.accordion
      each field in accordion
        .accordion__field(class= field.class ? field.class : null)
          .accordion__header
            span= field.title
          .accordion__body
            img(src=`./assets/img/${field.body.img}@1x.png` width="550" height="600" alt= field.title)

            .accordion__body-content
              h3.accordion__title= field.title
              each text in field.body.text
                p= text
