header.inner-header
  .container
    .inner-header__navbar
      a(href="index.html").back-btn
        svg(width="24" height="24")
          use(xlink:href="./assets/svg-sprite.svg#icon-arrow-small")
        span Обратно на главную
      img(src="./assets/img/mini-logo2.svg" alt="Логотип" width="150" height="84").inner-header__logo
