header.main-header
  .container
    .main-header__navbar
      a(href="index.html" aria-label="Обновить").main-header__small-logo
        img(src="./assets/img/mini-logo2.svg" alt="Логотип" width="150" height="84")

      include ./../components/_nav
      include ./../components/_burger
