header.main-header
  //include ../components/_animated-logo
  .container
    .main-header__navbar
      include ./../components/_nav
      a(href="#" class="js-menu-opener").burger
        div.burger__line.burger__line--top
        div.burger__line.burger__line--middle
        div.burger__line.burger__line--bottom
