footer.main-footer
  .container
    .main-footer__content
      .main-footer__logo


        a(href="#" aria-label="Обновить")
          <svg width="130" height="80" viewBox="0 0 93 61" fill="none" xmlns="http://www.w3.org/2000/svg">

            <path d="M38.9822 0L29.1006 4.1638V42.857C29.1006 43.2098 29.3699 43.3702 29.6991 43.3702H38.3956C38.7248 43.3702 38.9822 43.2098 38.9822 42.857V1.76432L46.2841 4.27286V42.966C46.2841 43.2612 46.5056 43.4985 46.7809 43.4985H47.3794C47.6547 43.4985 47.8762 43.2612 47.8762 42.966V3.10521L38.9822 0Z" fill="#B4B4B4"/>
            <path d="M20.4756 15.5901V43.7038H32.9488V18.8429L21.5589 14.8972L20.4756 15.5901Z" fill="#EDF0F5"/>
            <path d="M21.7919 14.0247L14.7832 17.1299V42.9916C14.7832 43.3188 15.0286 43.5819 15.3279 43.5819H21.355C21.6542 43.5819 21.8996 43.3188 21.8996 42.9916L21.7979 15.8467L31.9129 19.4908V43.0622C31.9129 43.3445 32.1762 43.306 32.4396 43.306H33.0979C33.3613 43.306 33.6007 43.3445 33.6007 43.0622V18.336L21.7919 14.0247Z" fill="#488A99"/>
            <path d="M34.6709 24.1101V43.5818H40.1893V26.4262L34.6709 24.1101Z" fill="#EDF0F5"/>
            <path d="M35.0188 22.4229L25.5801 25.3548V43.1392C25.5801 43.383 25.7656 43.5819 25.9931 43.5819H34.6058C34.8332 43.5819 35.0188 43.383 35.0188 43.1392V24.5529L39.4119 26.407V43.0879C39.4119 43.3637 39.6214 43.5819 39.8728 43.5819H40.5192C40.7765 43.5819 40.98 43.3573 40.98 43.0879V25.2907L35.0188 22.4229Z" fill="#DBAE58"/>
            <path d="M60.2531 8.48804L51.6523 11.6125V43.0687C51.6523 43.351 51.8977 43.5178 52.209 43.5178H59.7024C60.0077 43.5178 60.2591 43.351 60.2591 43.0687V10.3422L67.4413 12.8315L67.555 43.1586C67.555 43.3895 67.7585 43.3895 68.0159 43.3895H68.5665C68.8179 43.3895 69.0274 43.3959 69.0274 43.1586V11.5997L60.2531 8.48804Z" fill="#488A99"/>
            <path d="M54.1957 31.3342L59.1754 33.368V43.7294H53.5254L54.1957 31.3342Z" fill="#EDF0F5"/>
            <path d="M54.1951 31.3342L50.0713 33.0729V43.415C50.0713 43.5497 50.197 43.6588 50.3526 43.6588H53.9078C54.0634 43.6588 54.1891 43.5497 54.1891 43.415L54.1771 32.3864" fill="#DBAE58"/>
            <path d="M70.4992 23.6611L63.8018 26.5546V43.1777C63.8018 43.4023 63.9813 43.5883 64.2028 43.5883H70.1042C70.3256 43.5883 70.5052 43.4087 70.5052 43.1777V25.5538L77.2326 27.9019V43.1264C77.2326 43.3766 77.4301 43.5819 77.7772 43.5819H78.3279C78.4775 43.5819 78.7767 43.3766 78.7767 43.1264L78.7947 26.6829L70.4992 23.6611Z" fill="#B4B4B4"/>
            <path d="M28.7783 7.89792L31.1844 6.86499V9.43769L28.7783 10.4385V7.89792Z" fill="#EDF0F5"/>
            <path d="M28.7783 12.9023L31.1844 11.8694V14.4421L28.7783 15.4429V12.9023Z" fill="#EDF0F5"/>
            <path d="M17.2679 21.942L14.6045 23.0006V20.46L17.2679 19.3052V21.942Z" fill="#EDF0F5"/>
            <path d="M25.3359 31.7452L27.9096 30.7957V33.2272L25.3359 34.1831V31.7452Z" fill="#EDF0F5"/>
            <path d="M65.3594 15.5005V17.6113L67.6577 18.4004V16.2704L65.3594 15.5005Z" fill="#488A99"/>
            <path d="M65.3594 19.3499V21.4606L67.6577 22.2498V20.1197L65.3594 19.3499Z" fill="#488A99"/>
            <path d="M75.0791 30.3914V33.1501L77.4313 33.8558V31.1292L75.0791 30.3914Z" fill="#B4B4B4"/>
          </svg>

        span ООО "Проспект", 2022

      .main-footer__info
        a(href="tel:+77777777") +7 (777) 777-77-77
        a(href="mailto:pro-rek@info.ru") pro-rek@info.ru


  .developer
    a(href="https://www.littleweb.ru" rel="noopener noreferrer nofollow" aria-label="Сайт разработан - LittleWeb.ru")
      img(src="./assets/img/delevoper-icon.svg" width="100" height="100" alt="LittleWeb.ru")
