footer.main-footer
  .container
    .main-footer__container
      .main-footer__logo
        a(href="index.html" aria-label="Обновить")
          img(src="./assets/img/logo-footer.svg" alt="Логотип" width="150" height="84")
        //span ООО "Проспект", 2022

      .main-footer__info
        a(href="tel:+78126426449" aria-label="Позвонить")
          svg(width="24" height="24")
            use(xlink:href="./assets/svg-sprite.svg#icon-phone")
          span +7 (812) 642-64-49
        a(href="mailto:pro-rek@info.ru" aria-label="Отправить письмо на почту")
          svg(width="24" height="24")
            use(xlink:href="./assets/svg-sprite.svg#icon-mail")
          span pro-rek@info.ru

      .main-footer-developer
        include ../components/_developer
