.features {
  /*position: relative;
  margin-top: calc(100vh + 1px);
  height: 100vh;
  background-color: var(--main-bg-color);
  z-index: 1;*/
  position: relative;
  height: 100vh; //temp
  margin-top: 100vh;
  background-color: var(--main-bg-color);
  z-index: 1;
}
