.feedback {
  position: relative;
  padding-top: 50px;
  background-color: var(--main-bg-color);

  &__text {
    font-weight: 400;
    font-size: 42px;
    width: 100%;
    max-width: 800px;
    margin: 0;
    margin-bottom: 50px;
    color: var(--dark-color);
    position: relative;
    z-index: 3;

    @include m-b-desktop-down {
      font-size: 36px;
    }

    @include m-b-laptop-down {
      font-size: 28px;
      margin-bottom: 30px;
    }

    @include m-b-tablet-lg-down {
      font-size: 26px;
    }

    @include m-b-tablet-down {
      font-size: 24px;
      margin-bottom: 20px;
    }

    @include m-b-mobile-lg-down {
      font-size: 22px;
    }
  }

  form {
    @include m-b-tablet-down {
      max-width: 50vw;
    }

    @include m-b-mobile-lg-down {
      max-width: 100%;
    }
  }

  &__container {
    display: flex;
    align-items: center;
  }

  .plane-animation-scene {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    &.hidden {
      opacity: 0;
    }
  }
}
.form-container {
  z-index: -3;
}
.plane-scene {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  #plane {
    transform: scale(3.5);
    z-index: 2;
  }
}
