.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  background-color: var(--main-bg-color);
  z-index: 1000;
}

.hero {
  position: fixed;
  width: 100vw;
  height: 100vh; // calc(100vh - 100px);
  min-height: 400px;
  max-height: 1080px; // ??
  display: flex;
  padding-top: 100px;
  padding-bottom: 20px;


  @include m-b-tablet-down {
    //height: calc(100vh - 80px);
    padding-top: 80px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
  }

  .scroll-btn {
    @extend .flex-centered-content;
    padding: 15px;
    // for gsap
    opacity: 0;
    overflow: hidden;

    svg {
      animation: moving 1.5s linear infinite;
    }

    @keyframes moving {
      0% {
        opacity: 0;
        transform: translateY(-15px);
      }

      75% {
        opacity: 1;
      }

      100% {
        opacity: 0;
        transform: translateY(15px);
      }
    }

    /*svg {

      path:nth-child(1) {
        //animation: color1 3.5s ease-in infinite;

      }

      path:nth-child(2) {

      }

      path:nth-child(3) {

      }
    }


    @keyframes color3 {
      0% {
        fill: var(--primary-color);
      }

      40% {
        fill: var(--warning-color);
      }

      80% {
        fill: var(--dark-color);
      }

      100% {
        fill: var(--primary-color);
      }
    }

    @keyframes color2 {
      0% {
        fill: var(--warning-color);
      }

      40% {
        fill: var(--dark-color);
      }

      80% {
        fill: var(--primary-color);
      }

      100% {
        fill: var(--warning-color);
      }
    }

    @keyframes color1 {
      0% {
        fill: var(--dark-color);
      }

      40% {
        fill: var(--primary-color);
      }

      80% {
        fill: var(--warning-color);
      }

      100% {
        fill: var(--dark-color);
      }
    }*/
  }

  &__preview {
    height: 100%;
    //min-height: 400px;
    display: flex;
    position: relative;
    @extend .flex-centered-content;
    flex-direction: column;

    width: 100%;
    overflow: hidden;
    z-index: 2;
    margin-bottom: 10vh;

    svg {
      width: calc(85vw - 300px);
      height: 75vh;
      min-width: 300px;
      min-height: 250px;
      max-height: 50vh;

      @include m-b-tablet-down {
        //max-height: 400px;
      }

      g[data-id="house"] {
        opacity: 0;
        transform: translateY(150px);
      }

      path[data-id="house-window"] {
        opacity: 0;
      }

      g[data-id="name-container"] {
        opacity: 0;

        path {
          transform: translateY(-15px);
        }
      }
    }

    @include m-b-laptop-down {
      svg {
        width: 85vw;
      }
    }
  }
}
