.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  background-color: var(--main-bg-color);
  z-index: 1000;
}

.hero {
  position: fixed;
  width: 100vw;
  height: 100vh;
  min-height: 860px;
  max-height: 1080px;
  display: flex;
  padding-top: 100px;
  padding-bottom: 20px;

  @include m-b-tablet-lg-down {
    min-height: 684px;
    padding-top: 80px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    position: relative;
  }

  .scroll-btn {
    @extend .flex-centered-content;
    padding: 15px;
    overflow: hidden;

    svg {
      transform: rotate(90deg);
      animation: moving 1.5s linear infinite;
    }
  }

  &__icons {
    position: absolute;
    left: 5px;
    top: 25%;
    transform: translateY(-50%);
    z-index: 101;

    @include m-b-tablet-down {
      display: none;
    }

    a {
      @extend .flex-centered-content;
      width: 50px;
      height: 50px;
      margin-bottom: 8px;
      border-radius: 50%;
      border: 1px solid var(--dark-color);
      transition: border-color var(--transition);
      //gsap
      opacity: 0;
      transform: translateY(70px) scale(1.2);

      svg {
        fill: var(--primary-color);

        transition: fill var(--transition);
      }

      &:hover,
      &:focus {
        border-color: var(--dark-color) !important;
        svg {
          fill: var(--dark-color);
        }
      }

      @include m-b-tablet-lg-down {
        width: 40px;
        height: 40px;
      }
    }
  }

  &__preview {
    height: 100%;
    display: flex;
    position: relative;
    @extend .flex-centered-content;
    flex-direction: column;

    width: 100%;
    overflow: hidden;
    z-index: 2;
    margin-bottom: 80px;

    svg {
      width: calc(85vw - 300px);
      height: fit-content;
      min-width: 300px;
      min-height: 250px;
      max-height: 50vh;

      g[data-id="house"] {
        opacity: 0;
        transform: translateY(150px);
      }

      path[data-id="house-window"] {
        opacity: 0;
      }

      g[data-id="name-container"] {
        opacity: 0;

        path {
          transform: translateY(-15px);
        }
      }
    }

    @include m-b-laptop-down {
      svg {
        width: 85vw;
      }
    }
  }
}
