.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  background-color: var(--main-bg-color);
  z-index: 1000;
}

.hero {
  position: fixed;
  width: 100vw;
  height: 100vh;
  min-height: 860px;
  max-height: 1080px;
  display: flex;
  padding-top: 100px;
  padding-bottom: 20px;


  @include m-b-tablet-lg-down {
    min-height: 684px;
    padding-top: 80px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
  }

  .scroll-btn {
    @extend .flex-centered-content;
    padding: 15px;
    // for gsap
    opacity: 0;
    overflow: hidden;

    svg {
      transform: rotate(90deg);
      animation: moving 1.5s linear infinite;
    }
  }

  &__preview {
    height: 100%;
    display: flex;
    position: relative;
    @extend .flex-centered-content;
    flex-direction: column;

    width: 100%;
    overflow: hidden;
    z-index: 2;
    margin-bottom: 10vh;

    svg {
      width: calc(85vw - 300px);
      height: 75vh;
      min-width: 300px;
      min-height: 250px;
      max-height: 50vh;

      g[data-id="house"] {
        opacity: 0;
        transform: translateY(150px);
      }

      path[data-id="house-window"] {
        opacity: 0;
      }

      g[data-id="name-container"] {
        opacity: 0;

        path {
          transform: translateY(-15px);
        }
      }
    }

    @include m-b-laptop-down {
      svg {
        width: 85vw;
      }
    }
  }
}
