.map {
  position: relative;
  z-index: 3;
  background-color: var(--main-bg-color);
}

#yandex_map {
  width: 100%;
  max-width: 2400px;
  height: 500px;
  margin: 0 auto;


  @include m-b-tablet-lg-down {
    height: 400px;
  }

  @include m-b-mobile-lg-down {
    height: 300px;
  }

  .zoom-btns {
    display: flex;
    align-items: center;

    position: absolute;
    top: -440px;
    left: -75px;

    @include m-b-tablet-lg-down {
      top: -340px;
    }

    @include m-b-mobile-lg-down {
      top: -240px;
    }

    .zoom-btn {
      @extend .button-default;
      @extend .flex-centered-content;

      width: 40px;
      height: 40px;
      margin: 0 5px;
      background-color: var(--primary-color);

      cursor: pointer;
      transition: background-color var(--transition);

      svg {
        fill: var(--white-color);
      }

      &:hover {
        opacity: 0.8;
        background-color: var(--warning-color);
      }

      &:active {
        background-color: var(--primary-color);
      }
    }
  }
}
