.outdoor {
  &__accordion {

  }
}

.accordion {
  position: relative;
  overflow: hidden;
  min-height: 800px;

  &__field {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    //width: 100%;
    background-color: var(--main-bg-color);
  }

  &__header {
    position: relative;
    width: 100%;
    min-width: 70px;
    max-width: 70px;
    height: 600px;
    padding: 20px;
    border: 1px solid var(--primary-color);

    background-color: var(--white-color);
    z-index: 3;

    &:not(:last-of-type) {
      border-right: 0;
    }

    cursor: pointer;

    span {
      font-weight: 500;
      font-size: 20px;
      color: var(--primary-color);
      text-align: center;

      white-space: nowrap;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%) rotate(-90deg);
    }
  }

  &__body {
    display: flex;
    align-items: center;
    border: 1px solid var(--primary-color);
    border-left: 0;
    padding: 30px;

    img {
      margin-right: 30px;
    }
  }
}

/*.accordion {
  display: flex;
  height: calc(100vh - 100px);
  max-height: 600px;

  &__field {
    min-width: 70px;
    margin-right: 3px;
    overflow: hidden;
  }

  &__header {
    position: relative;
    width: 70px;
    height: 600px;
    padding: 20px;
    border-radius: 20px;
    background-color: var(--primary-color);
    z-index: 3;

    cursor: pointer;

    span {
      font-weight: 500;
      font-size: 20px;
      color: var(--white-color);
      text-align: center;

      white-space: nowrap;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%) rotate(-90deg);
    }
  }

  &__body {
    flex-grow: initial;
    width: 0;
  }


  &__field.active {
    display: flex;

    .accordion__header {
      background-color: var(--warning-color);

      span {
        color: var(--primary-color);
      }
    }

    .accordion__body {
      position: relative;
      display: flex;
      align-items: center;
      width: calc(100% - 70px);
      border: 1px solid var(--warning-color);
      border-radius: 0 20px 20px 0;
      //margin-left: -30px;

      animation: showField 0.5s ease-in forwards;

      @keyframes showField {
        0% {
          width: 0;
        }

        100% {
          width: calc(100vh - 70px);
        }
      }
      &::before {
        position: absolute;
        top: -1px;
        left: -30px;
        width: 30px;
        height: calc(100% + 2px);
        content: '';
        background-color: var(--warning-color);
      }

      img {
        margin-right: 10px;
        margin-left: 60px;
      }

      &-content {
        padding: 20px;
        h3 {
          font-weight: 600;
          font-size: 20px;
          color: var(--primary-color);
        }

        p {
          font-weight: 400;
          font-size: 14px;
          margin-bottom: 20px;
          color: var(--dark-color);
        }
      }
    }
  }
}*/
