.outdoor {
  &__container {
    max-width: 1680px;
  }
}

.accordion {
  position: relative;
  overflow: hidden;
  height: 600px;
  border: 1px solid var(--primary-color);

  &__field {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 349px);
    background-color: var(--main-bg-color);

    &:not(:last-child) {
      .accordion__header {
        border-right: 1px solid var(--white-color);
      }
    }

    &.active {
      .accordion__header {
        background-color: var(--dark-color);

        span {
          color: var(--warning-color);
        }
      }
    }
  }

  &__header {
    position: relative;
    width: 100%;
    min-width: 70px;
    max-width: 70px;
    height: 600px;
    padding: 20px;

    background-color: var(--primary-color);
    z-index: 3;

    cursor: pointer;
    transition: background-color 0.5s ease-in;

    span {
      font-weight: 500;
      font-size: 24px;
      text-align: center;

      white-space: nowrap;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%) rotate(-90deg);
      color: var(--white-color);
      transition: color 0.5s ease-in;
    }
  }

  &__body {
    display: flex;
    align-items: center;
    padding: 30px;

    img {
      margin-right: 30px;
    }

    &-content {
      width: 50%;
    }

    @include m-b-desktop-down {
      flex-direction: column;

      img {
        margin-right: 0;
        margin-bottom: 20px;
      }

      &-content {
        width: 100%;
      }
    }
  }
}
